name: CI

permissions: {}

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    timeout-minutes: 1
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs-version:
          - "27.1"
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Setup Emacs
        uses: purcell/setup-emacs@8415786a52b3a84babd7ffc92a802b06e3780c17
        with:
          version: ${{ matrix.emacs-version }}
      - name: Test
        run: bin/test.sh
